<div class="container">
    <div class="blog-post">
       <h1 class="text-center">About Me</h1>
      <div class="row">
      
        <div class="left col-6">
          <img src="../../../../assets/images/me.jpg" alt="" class="img-fluid" >
        </div>
        <div class="right col-6">
             <h2 class="blog-post-title mb-5 text-uppercase font-italic">Md Shariful Islam</h2>
             
              
               <h3>Web Designer & Developer</h3>
               <P>
               Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam.
               Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras
               mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Nullam quis risus eget
               urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. </P>

               <div class="address font-italic">
                  <strong> Date of Birth:</strong><span> 18-Oct-1993</span><br>
                  <strong> Phone Number:</strong><span> +8801917856543</span><br>
                  <strong>Email Address: </strong><span>sharifulislam00071@gmail.com</span><br>
                  <strong> Address: </strong><span>Tongi, Gazipur, Dhaka</span><br>
                  <strong> Portfolio </strong><span>https://my-portfolio-43-93.firebaseapp.com/</span>
              </div>  
        
            
        </div>
        
      </div>
       
        
      </div><!-- /.blog-post -->
    
</div>