<div class="container-fluid">
  <img src="../../../../../assets/images/banner.jpg" alt="" class="img-fluid banner-image">
  <div class="text-white">

    <div class="col-md-6 px-0 text">

      <h1 class="display-4 font-italic">Hi, I am MD.SHARIFUL <span style="color: red">ISLAM</span></h1>
      <p class="lead my-3">Web Design And<span style="color: red"> Developer.</span></p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
    <!-- <img src="../../../../../assets/images/sharif.jpg" alt="Avatar" class="avatar"> -->
  </div>
</div>